@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse-Bold.otf);
}

html {
    display: flex;
    justify-content: center;
    background-color: grey;
}

body {
    display: flex;

    /* box-sizing: border-box; */
    justify-content: center;
    margin: 0 ;
    min-width: 65vw;
    height: 100vh;
}

.main-container {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-width: 100px;
    max-width: 40vw;
    /* padding: 16px; */
}

.call-out-box{
    margin: 4px 20px;
}

.input-form {
    flex: 1;
    /* max-width: 100%; */
    /* border: solid black 1px; */
    background-color: white;
    padding: 12px 24px;

    /* TEXT AND FONT */
    & label{
        font-size: 12px;
        font-weight:550;
        letter-spacing: 1px;
    }

    & legend {
        font-weight: 750;
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    & input {
        border-radius: 6px;
        border: solid rgb(193, 193, 193) 2px;
        font-size: 20px;
        min-width: 100px;
    }

    & input:invalid {
        /* background-color: red; */
    }

    & input:focus {
        box-shadow: 3px 3px 6px black;
        border-color: blue;
        outline: none;
    }

    & input[type="password"]:invalid{
        border-color: red;
        outline: none;
    }

    /* max-width: 450px; */
    max-height: 40%;
    box-shadow: 0 2px 8px black;
}

.two-labels{
    display:flex;
    flex-wrap: wrap;
    gap: 25px;
}

.create-account{
    font-family: inherit;
    background-color: hsl(120, 77%, 18%);
    border-radius: 10px;
    padding: 3px 8px;
    color: white;
    border: none;
    font-size: 1.2em;
    font-weight: 550;

    min-width: 200px;
    width: 24%;
    height: 12%;
}

.left-splash {
    flex: 1 1 auto;
    /* position:absolute; */
    flex-direction: column;
    justify-content: space-between;

    min-width: 100px;
    background-image: url(images/splash.jpg);
    background-size: contain;

}

.logo-container {
    display:flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 30%;

    /* background-color: rgba(0,0,0,.05); */
    background-color: rgba(255,255,255,.35);
    height: 15%;

    
    & h1 {
        display: flex;
        align-self: center;
        color: rgb(234, 234, 234);
        font-family: "Norse";
        font-size: 94px;
        margin: 0;
    }

}

.odin-logo {
    padding-top: 1.2%;
    height: 90%;
}
.photo-credit{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    position: relative;
    top: 82%;
    text-align: center;
    color: white;

    & a {
        text-decoration-thickness: .5px;
        color:white;
    }
}